<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>237535779642-55au1mjju93m6ud5ursigbt6jh0lbbth.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.237535779642-55au1mjju93m6ud5ursigbt6jh0lbbth</string>
	<key>API_KEY</key>
	<string>AIzaSyAQS-dC-imxmaU1qbImyi1aqM2CB-gKK24</string>
	<key>GCM_SENDER_ID</key>
	<string>237535779642</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vincev.searchpokeman</string>
	<key>PROJECT_ID</key>
	<string>searchpokeman</string>
	<key>STORAGE_BUCKET</key>
	<string>searchpokeman.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:237535779642:ios:774677c81dbe6e00</string>
	<key>DATABASE_URL</key>
	<string>https://searchpokeman.firebaseio.com</string>
</dict>
</plist>